.root {
  max-width: 300px;
  width: 100%;
  position: relative;
}
.searchInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
.searchIcon {
  max-width: 18px;
  width: auto;
  height: auto;
  position: absolute;
  top: 8px;
  right: 15px;
  cursor: pointer;

  &:hover {
    color: aliceblue;
  }
}
